@font-face {
  font-family: 'GothamHTF';
  src: url('../fonts/GothamHTF.woff') format('woff');
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/gothambold1.woff') format('woff');
}

#centerSVG{
  pointer-events: none;
}

#behindSVG{
  z-index: -999;
}

#wheelContainer{
  position:relative;
  height: 600px;
  border-top: 1px solid #ccc

}

.centerme svg{
  position:absolute !important;
  top:1% !important;
  left:1% !important;
  height:98% !important;
  width:98% !important;
}
