@font-face {
font-family: 'GothamHTF';
src: url('fonts/GothamHTF.woff') format('woff');
}

@font-face {
font-family: 'GothamBold';
src: url('fonts/gothambold1.woff') format('woff');
}

#wheelDiv{
  height: 1000px;
  width: 2000px;
  display: block;
  position: absolute;
}

#CenterDiv{
  pointer-events: none;
  height: 1000px;
  width: 2000px;
  display: block;
  position: absolute;
}

#BehindDiv{
  z-index: -999;
  height: 1000px;
  width: 2000px;
  display: block;
  position: absolute;
}

#container{
	width: auto;
  height: 2000px;
  width: 2000px;
  position: relative;
  margin: 0 auto;
}

.centerme{
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#div {
  font-family:"GothamHTF-Book";
}
/* #wheelnav-wheelDiv-title-0,
#wheelnav-wheelDiv-title-1,
#wheelnav-wheelDiv-title-2,
#wheelnav-wheelDiv-title-3,
#wheelnav-wheelDiv-title-4{
    pointer-events: none;
    } */
